*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
html {

}

header {
}

body {
  font-family: 'Roboto';
  overflow-x: hidden;

  font-size: 24px;
  line-height: 1;
  color: #333;

  background: #f5f6f7 center;
  background-size: cover;
  width: 100%;


}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container>h1 {
  margin-top: 40px;
  font-size: 48px;
  margin-bottom: 40px;
}

.character-find>h1 .locations-find>h1 {
  font-size: 48px;

}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: 30px auto;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: #00cc66;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.hide {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body.menu-open {
  overflow: hidden;
}


.pagination_center {
  padding: 30px 0;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination button {
  text-decoration: none;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 2px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4CAF50;
  color: #fff;
}

.pagination button:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

.pagination_jump {
  margin-top: 5px;
}

.pagination_jump input {
  text-decoration: none;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 2px;
  font-size: 24px;
  color: #999;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Скрывает стрелки */
  margin: 0; /* Убирает отступ, который может появиться */
}

.pagination a {
  text-decoration: none;
  color: #333;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 2px;

}
.pagination button.active {
  background-color: #4CAF50;
  color: #fff;
}

.pagination button:hover {
  background-color: #4CAF50;
  color: #fff;

}



@media (max-width: 1000px) {
  .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .nav-btn {
    font-size: 42px;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: none;
    background-color: rgba(32, 48, 64, 0.73);
    color: white;
    display: inline-block;
    cursor: pointer;
    z-index: 3000;
    outline: none;

  }
  .nav-btn.active {
    z-index: 1300;
    position: relative;
    border: none;
    outline: none;
  }




  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 48, 64, 0.97);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 1000;
  }


  .nav_link {
    margin: 22px 0;
  }


  .drop.active .nav {
    opacity: 1;
    visibility: visible;
  }


  .characters_inner {
    grid-template-columns: repeat(3, 2fr);


  }
}
@media (max-width: 750px) {
  .container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
  .characters_inner {
    grid-template-columns: repeat(2, 2fr);
  }

  .header_logo {
    font-size: 36px;
    font-weight: 700;
  }
}


@media (max-width: 500px) {
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .characters_inner {
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
  }
  .header_logo {
    font-size: 30px;
    font-weight: 700;
  }
}
